body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #214bd4;
}

.container {
    display: flex;
    width: 80%;
    max-width: 750px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container {
    flex: 1; /* Faz a imagem ocupar 1 parte do espaço */
}

.image-container img {
    width: 100%; /* A imagem ocupa 100% da largura do container */
    height: 100%; /* Mantém a proporção da imagem */
    border-top-left-radius: 10px; /* Borda arredondada no canto superior esquerdo */
    border-bottom-left-radius: 10px; /* Borda arredondada no canto inferior esquerdo */
}

.form-container {
    flex: 1.5; /* O formulário ocupa 1.5 partes do espaço */
    padding: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.social-buttons {
    margin-top: 20px;
}

.social-buttons button {
    width: 100%;
    padding: 10px;
    background-color: #4267B2; /* Cor do Facebook */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; /* Espaço entre os botões */
}

.social-buttons button:first-child {
    background-color: #db4437; /* Cor do Gmail */
}
